pkgbase = python-libmamba
	pkgdesc = The fast cross-platform package manager
	pkgver = 1.5.9
	pkgrel = 1
	url = https://github.com/mamba-org/mamba
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cli11
	makedepends = spdlog
	makedepends = tl-expected
	makedepends = nlohmann-json
	makedepends = ccache
	makedepends = cmake>=3.18
	makedepends = doctest
	makedepends = ninja
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-scikit-build>=0.13
	makedepends = python-setuptools>=42
	makedepends = python-wheel
	depends = fmt
	depends = libsolv
	depends = python>=3.9
	depends = reproc
	depends = yaml-cpp>=0.8.0
	provides = libmamba
	source = mamba-2024.08.31-1.5.9.tar.gz::https://github.com/mamba-org/mamba/archive/refs/tags/2024.08.31.tar.gz
	sha512sums = 7b3b8891acae69bd7fa62b304c8d91fcb02bc6c653e7d25d4cc73b97fa1ed4bf85aa21a71dbb5fd608b233eb9647665f5bd0c956fc430e769b151a7e424cedd2

pkgname = python-libmamba
